{%extends 'overlay.html'%}

{% load static %}
{% block budget %}
<div class="inc_bud">

    <link rel="stylesheet" href="{%static 'styles/income_list.css' %}">
    {%if get_overall_budget%}
    <h1>Your Overall Budget &Equilibrium;</h1>







    <div class="'content">
        <table class="table">
            <tr>
                <th>Category</th>
                <th>Start Date</th>
                <th>Amount</th>
                <th>End Date</th>
                <th>Operations</th>




            </tr>
            {% for ob in get_overall_budget %}



            <tr>
                <td>{{ ob.category }}</td>
                <td>{{ ob.start_date }}</td>
                <td>{{ ob.amount_limit }}</td>
                <td>{{ ob.end_date }}</td>
                <td>
                    <a href="{% url 'update_overall_budget' ob.id %}" class="i_btn_icon">&#128394;</a>
                    <a href="{% url 'delete_overall_budget' ob.id %}"  class="i_btn_icon"
                        onclick="return confirm('Are you sure you want to delete this overall budget?');">&#128465;</a>
                </td>
            </tr>

            {% endfor %}


        </table>

    </div>
</div>


{%elif getbudget%}
<h1>Your Budget &Equilibrium;</h1>

<div class="'content">
    <table class="table">
        <tr>
            <th>Category</th>
            <th>Start Date</th>
            <th>Amount</th>
            <th>End Date</th>
            <th>Operations</th>




        </tr>
        {% for b in getbudget %}


        <!--Refer models.py of app to see budget model-->
        <tr>
            <td>{{ b.category }}</td>
            <td>{{ b.start_date }}</td>
            <td>{{ b.amount_limit }}</td>
            <td>{{ b.end_date }}</td>
            <td>
                <a href="{% url 'update_budget' b.id %}"  class="i_btn_icon">&#128394;</a>
                <a href="{% url 'delete_budget' b.id %}"  class="i_btn_icon""
                    onclick="return confirm('Are you sure you want to delete this budget?');">&#128465;</a>
            </td>

        </tr>
    
      
        {% endfor %}


        {%else%}
        <table class="table">
        <tr>
            <td colspan="3">&#128533; No Budget Limit has been set. Please set budget to see the budget list.</td>
        </tr>
    </table>
        {%endif%}

    </table>
    <a  class="i_b_btn" href="{% url 'set_overall_budget' %}">Set Overall Budget</a>
    <a  class="i_b_btn" href="{% url 'set_budget' %}">Set Budget</a>
    <a  class="i_b_btn" href="{% url 'dashboard' %}">Dashboard</a>&nbsp;
    <a  class="i_b_btn" href="{% url 'home' %}">Home</a>&nbsp;
    <a  class="i_b_btn" href="{% url 'signout' %}">Sign Out</a>&nbsp;
</div>
</div>

{% endblock %}