
{% load static %}

{%block incexpforms%}
      <div class="nav-list">
          <a href="{% url 'home' %}">
            <span class="links_name">Home</span>
          </a>&nbsp;&nbsp;&nbsp;

          <a href="{% url 'register' %}">
            <span class="links_name">Register</span>
          </a>&nbsp;&nbsp;&nbsp;

          <a href="{% url 'aboutpage' %}">
            <span class="links_name">About us</span>
          </a>&nbsp;&nbsp;&nbsp;
        
     

      </div>
    </div>

<head>
    <title>Income/Expense</title>
</head>
<link rel="stylesheet" href="{%static 'styles/add_exp_style.css' %}">
<body>

    {% if form_type == 'income' %}
    <div class="content" id="expform">
        <h3 class="secondTitle">Add Income</h3>
        <div class="form">
        <form method="post" id="IncForm">
            {% csrf_token %}
            {{ income_form.date.label_tag}}<br>
            {{ income_form.date}}
            MM/DD/YYYY<br>
            {{ income_form.amount.label_tag}}<br>
            {{ income_form.amount}}&nbsp;&nbsp;
            <br>
            {{ income_form.category.label_tag}}<br>
            {{ income_form.category}}&nbsp;&nbsp;

            <a href="{% url 'add_category' %}">&plus;Add category</a><br>

            {{ income_form.description.label_tag}}<br>
            {{ income_form.description}}<br><br>

            <button type="submit">Add Income</button>
            <br><br>
        </form>
        <a href="{% url 'income_list' %}">View Dashboard</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        
        &nbsp;
        <a href="{% url 'add_expense' %}">Add Expense</a>
    </div>
    <br>


    {% elif form_type == 'expense' %}
    <div class="content" id="expform">
        <h3 class="secondTitle">Add Expense</h3>
        <div class="form">
        <form method="post" id="expForm">
            {% csrf_token %}
            {{ expense_form.date.label_tag }} <br>
            {{ expense_form.date}}MM/DD/YYYY <br>
            {{ expense_form.amount.label_tag }} <br>
            {{ expense_form.amount}} &nbsp;&nbsp;
            {{ expense_form.is_fixed.label_tag }}
            {{ expense_form.is_fixed}} <br>
            
            {{ expense_form.category.label_tag }}<br>
            {{ expense_form.category}}&nbsp;&nbsp;
     
            <a href="{% url 'add_category' %}">&plus;Add category</a> <br>
            

            <br>
            {{ expense_form.description.label_tag }} <br>
            {{ expense_form.description}} &nbsp;&nbsp; <br>
            <button type="submit">Add Expense</button>
        </form>
        <a href="{% url 'expense_list' %}">View Dashboard</a>
        &nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'add_income' %}">Add Income</a>
        </div>

        {% elif form_type == 'category' %}
        <div class="content" id="categoryform">
            <h3 class="secondTitle">Add Category</h3>
            <div class="form">
            <form method="post" id="categoryForm">
            {% csrf_token %}
            {{category_form.name.label_tag }}
            {{category_form.name}}
            &nbsp;
            &nbsp;&nbsp;&nbsp;
            {{ category_form.category_type.label_tag }}
            {{ category_form.category_type}}<br><br>

            <button type="submit">Add Category</button><br><br>
        </form>
        <a href="{% url 'add_income' %}">Go to Add Income Page</a>&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <a href="{% url 'add_expense' %}">Go to Add Expense Page</a>



    </div>
    {% endif %}


</body>
{% endblock%}
</html>