{% extends 'overlay.html' %}
{% load static %}
{% block alertpage %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PocketAngel | Alerts</title>
    <link rel="stylesheet" href="{% static 'styles/alerts.css' %}">
</head>

<body>
    <div class="alert-container">
        <h1>Alerts</h1>
        <marquee> &star;Necessary Alerts can be removed/deleted only after proper action has been taken from user part.</marquee>
        {% for alert in alerts %}
            <div class="alert {% if alert.is_read %}read{% else %}unread{% endif %}">
                <p><strong>Alert:</strong> {{ alert.message }}</p>
                <span class="timestamp">{{ alert.created_at|date:"F j, Y, g:i a" }}</span>
                {% if not alert.is_read %}
                    <a href="{% url 'mark_alert_as_read' alert.id %}" class="mark-read">Mark as read</a>
                    <a href="{% url 'delete_alert' alert.id %}" class="delete">Remove</a>
                {% else %}
                    <a href="{% url 'delete_alert' alert.id %}" class="delete">Delete</a>
                {% endif %}
            </div>
        {% empty %}
            <p>No alerts available&#10071; </p>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}
