{% extends 'base.html' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
    
{% block welcome %}
{% if user.is_authenticated %}
<h3>Hello! {{user.username}}</h3>
<p> Welcome! Together we will keep your spendings under control.<br>
    Let's make sure that your savings are enough to fulfill all your dreams.
</p>

  <!-- Display signout button -->
  <a href="{% url 'signout' %}">Sign out</a>&nbsp;

<span>
    <a class="nav-link"  href="{% url 'add_income' %}">Add Income</a>&nbsp;
    <a class="nav-link"  href="{% url 'add_expense' %}">Add Expense</a>&nbsp;
    <a class="nav-link"  href="{% url 'income_list' %}">Show Income Only</a>&nbsp;
    <a class="nav-link"  href="{% url 'expense_list' %}">Show Expense Only</a>&nbsp;
   
</span>
{% else %}
<p>Hey!It seems you have not signed in. Please signin or if you are a new user then register. </p>
  <!-- Display signin/register links -->
  <a href="{% url 'signin' %}">Signin</a>
  &nbsp;&nbsp;
  <a href="{% url 'register' %}">Register</a>
{% endif %}
<div>
{% block income %}

{% endblock %}
</div>

<div>
{% block expense %}
    
{% endblock %}
    </div>

{% endblock %}
</body>
</html>