{% load static %}


<link rel="stylesheet" href="{% static 'styles/overlays.css' %}">
<header>
    <nav class="navbar">
        <div class="logo">PocketAngel</div>
       
        
        <ul class="nav-links">
            {% if user.is_authenticated %}
            <li><a class="mainnavbar" href="{% url 'home' %}">Home</a></li>
            <div class="dropdown">
                <a class="dropbtn">Features&blacktriangledown;&nbsp;&nbsp;
                </a>
                <div class="dropdown-content">
                    <a class="mainnavbar" href="{% url 'dashboard' %}">Dashboard</a>
                    <a class="mainnavbar" href="{% url 'add_expense' %}">Add Expense</a>
                    <a class="mainnavbar" href="{% url 'add_income' %}">Add Income</a>
                    <a class="mainnavbar" href="{% url 'add_emi' %}">Add EMI</a>
                    <a class="mainnavbar" href="{% url 'set_budget' %}">Set Budget</a>
                    <a class="mainnavbar" href="{% url 'set_overall_budget' %}">Set Overall Budget</a>

                </div>
            </div>
            <div class="dropdown">
                <a class="dropbtn">Show&blacktriangledown;&nbsp;&nbsp;
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'budgetlist' %}">Show Budget</a>
                    <a href="{% url 'generate_report' %}">Generate Report</a>
                    <a href="{% url 'income_list' %}">Show Income </a>
                    <a href="{% url 'expense_list' %}">Show Expense </a>
                    <a href="{% url 'emi_list' %}">Show EMI</a>
                    <a href="{% url 'alerts_list' %}">Show Alerts</a>
                    <a href="{% url 'overallbudgetlist' %}">Show Overall Budget</a>
                </div>
            </div>
            <li><a href="{% url 'aboutpage' %}">About</a></li>
          
            <li><a href="{% url 'alerts_list' %}">Alerts&#128276;</a></li>
        
           
            <div class="dropdown">
                <a class="dropbtn">Hi,User:{{user.name}}&blacktriangledown;&nbsp;&nbsp;
                </a>
                <div class="dropdown-content">
                    <a href="{% url 'signout' %}">Signout</a>
                </div>
            </div>


            {%else%}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'home' %}">Contact</a></li>
            <li><a href="{% url 'signin' %}">Signin</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {%endif%}
        </ul>
    </nav>
</header>
<marquee class="messages">
    
    {% if messages %}
            {% for message in messages %}
            &#x1F516;{{ message.tags }}:{{ message }}
            {% endfor %}
    {% endif %}

</marquee>



<div class="notification-container">
    {% if messages %}
        {% for message in messages %}
        
            <div class="notification" id="notification-{{ forloop.counter }}">
                <div class="notification-content">
                    
                    &#x1F516;{{ message }}
                    <a href="javascript:void(0);" class="close" onclick="closeNotification('notification-{{ forloop.counter }}')">&#x274C;</a>
                </div>
                <div class="time-bar" id="time-bar-{{ forloop.counter }}"></div>
            </div>
        
        {% endfor %}
    {% endif %}
</div>

</div>

<script>
// Function to close a notification
    function closeNotification(notificationId) {
        var notification = document.getElementById(notificationId);
        if (notification) {
            notification.classList.add('hide');
            setTimeout(function() {
                notification.remove();
            }, 500); // Wait for the fade-out transition to complete
        }
    }
    
    // Automatically close notifications after 5 seconds
    document.addEventListener("DOMContentLoaded", function() {
        var notifications = document.querySelectorAll('.notification');
        notifications.forEach(function(notification) {
            var timeBar = document.getElementById('time-bar-' + notification.id.split('-')[1]);
            setTimeout(function() {
                closeNotification(notification.id);
            }, 5000); // 5000 milliseconds = 5 seconds
    
            // Start the time bar animation
            timeBar.style.width = '100%';
            setTimeout(function() {
                timeBar.style.width = '0%'; 
                // Animate the time bar to disappear
                // 0% means bar will decrease till the end
            }, 0); // Start immediately
        });
    });
    
    </script>
    


    


{% block income %}
{%endblock%}

{% block budget %}
{%endblock%}

{% block expense %}
{%endblock%}


{% block emi_list %}
{%endblock%}


{%block alertpage%}
{%endblock%}


{%block mainpage%}
{%endblock%}


{%block dashboard%}
{%endblock%}

{% block signout %}
{%endblock%}

{%block add_fields%}
{%endblock%}