* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.mp2ndhalf
{
    background: #d2d2d2;
    color: rgb(0, 0, 0);
}
header {
    background: rgb(22, 21, 21);
    color: #000000;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: antiquewhite;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color:antiquewhite;
    text-decoration: none;
    transition: color 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.nav-links a:hover {
    background-color: #5e5131;
    border-radius: 10px;
    padding: 12px 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000000;
    padding: 5px 7px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d2b1b1;
    border-radius: 30px;
}

.dropdown:hover .dropdown-content {
    display: block;
}





.mainpage {
    background: linear-gradient(to right, #282727, #6c6967);
    color:antiquewhite;
    padding: 100px 20px;
    text-align: center;


}

.hero .para {
    padding: 10px;
}

.cta-button {
    background: #fff;
    color: #333;
    border-spacing: 100px;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;

}

.cta-button:hover {
    background: linear-gradient(20deg,#e7c3c3,#ca5e2c)
}

section {
    padding: 60px 20px;
    text-align: center;
}

footer {
    background: #222222;
    color:antiquewhite;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: contents;
        /* Hide links by default */
        width: 100%;
        /* Full width for mobile */
        background: #333;
        /* Background color for dropdown */
        position: absolute;
        /* Positioning for dropdown */
        top: 60px;
        /* Position below the navbar */
        left: 0;
        /* Align to the L*/
    }
}



.messages
{
    text-align: center;
}


