{% extends 'index.html' %}

{% block expense %}
<div>
    <h1>Your Expense</h1>
    <table>
        <tr>
            <th>Expense Name</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        {% for exp in expenses %}
        
        <tr>
            <!--Refer models.py of app to see Expense model-->
            <td>{{exp.exp_name}}</td>
            <td>{{ exp.category }}</td>
            <td>{{ exp.amount }}</td>
            <td>{{ exp.date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No expense recorded.</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add_expense' %}">Add expense</a>&nbsp;
    <a href="{% url 'signout' %}">Sign Out</a>
</div>

{% endblock %}