{% extends 'index.html'%}

{% block income %}

    <div>
    <h1>Your Income</h1>
    <table>
        <tr>
            <th>Source</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        {% for inc in incomes %}
        <!--inc is an iterator and incomes is the list containing all incomes.See views.py income_list-->
        <tr>
            <td>{{ inc.source }}</td>
            <td>{{ inc.amount }}</td>
            <td>{{ inc.date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No income recorded.</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'add_income' %}">Add Income</a>
    <a href="{% url 'signout' %}">Sign Out</a>

</div>

{% endblock %}

